body {
  font-family: 'Coda';
  color: #ffffffff;
  background-color: #676d6a
}
p {
  font-size: 1em;
}
ul {
  font-size: 1em;
}
ol {
  font-size: 1em;
}
div {
  height: 100px;
  width: 200px;
  border-radius: 5px;
  background-color: #69D2E7;
  text-align: center;
  color: #FFFFFF;
  font-family: Verdana, Arial, Sans-Serif;
  opacity: 0.5;
}
