body {
  font-family: 'Coda';
  color: #ffffff;
  background-color: #676d6a
}
p {
  font-size: 1em;
}
ul {
  font-size: 1em;
}
ol {
  font-size: 1em;
}
div {
  height: 100px;
  width: 200px;
  border-radius: 5px;
  background-color: ##0019ff;
  text-align: center;
  color: #FFFFFF;
  font-family: Verdana, Arial;
  font-style: normal;
  opacity: 1;
}
a {
  text-decoration:none;
}
